<div class="main-wrapper">
  <div class="topnav">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/sale">Sale</a>
    <a class="nav-link" href="/login">Login/logout</a>
    <a class="nav-link" href="/register">Sign Up</a>
  </div>
</div>
