<%- include('header'); %>
<%- include('nav'); %>





    <!-- <div class="main-wrapper">
        <div class="topnav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/sale">Sale</a>
            <a class="nav-link" href="/product">Product</a>
            <a class="nav-link" href="/logout">Login/Logout</a>
            <a class="nav-link" href="/register">Sign Up</a>
        </div>
    </div> -->


    <main>
    <h3>
        Your Profile
    </h3>
    <p>
        Welcome to your profile page.
    </p>
    </main>





